.WeatherForecast {
  text-align: center;
  margin: 20px auto;
  color: #5a6275;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.WeatherForecast .hourly {
  color: #ff3467;
  font-size: large;
}
.WeatherForecast .degrees {
  font-size: larger;
  font-weight: 100;
}
.WeatherForecast canvas {
  display: block;
  margin: 8px auto;
  color: #5a6275;
}
